/* ==|=======================================================================
   jquery.tooltip
   ========================================================================== */

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #666666;
	border-radius: 5px;
	/*background-color: #292929;
	padding: 5px 10px;
	filter: alpha(opacity=85);
	opacity: 0.85;*/

	/*width: 250px;*/
	max-width: 318px;
	font-size: 14px;
	text-align: left;
	line-height: 1em;
}
#tooltip .body {
	padding: 5px;
}
#tooltip .body-bg {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	background-color: #292929;
	border-radius: 5px;
	filter: alpha(opacity=85);
	opacity: 0.85;
}
#tooltip .body-text {
	position: relative;
	display: table;
}
	#tooltip .body-text > div { margin: 0 0 3px; }
		#tooltip .body-text > div:last-child { margin-bottom: 0; }
		#tooltip .body-text div._alias { font-weight: bold; }
		#tooltip .body-text div._thumb { display: block; position: static; float: none; width: auto; height: auto; margin: 0.1em 0.1em 3px; }
			#tooltip .body-text div._thumb:last-child { margin-bottom: 0.1em; }
		#tooltip .body-text div._thumb img { width: auto; height: auto; }
		#tooltip .body-text div._desc {  }
			#tooltip .body-text div._desc:last-child { padding-bottom: 0.15em; }
			#tooltip .body-text div._desc div._replacefrom { color: #666666; margin-top: 3px; margin-bottom: -0.2em; }
		#tooltip .body-text div._redirect, #tooltip div._replacefrom { font-size: 12px; padding: 1px auto; }

.highlight.tooltip {
	/*display: inline-block*/;
	text-indent: 0px;
	cursor: help;
}

.highlight.character,
.highlight.terminology,
.highlight.object,
.highlight.equipment,
.highlight.ability,
.highlight.location,
.highlight.other,
.highlight.comment {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
}
.highlight.comment-light,
.highlight.comment-light a {
	color: #666666;
}
.highlight.comment-light a:hover {
	color: #999999;
}

.highlight.replacefrom {
	background: url(/css/2.0/images/darktrans.png);
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-color: #666C7F;
	border-radius: 3px 3px 0 0;
}

.highlight.character {
	border-color: #4AB2D6;/*#76b41c*/
}
.highlight.terminology {
	border-color: #86b42c;/*#81c7cf*/
}
.highlight.object,
.highlight.equipment {
	border-color: #ec79ba;
}
.highlight.ability {
	border-color: #e57373;
}
.highlight.location {
	border-color: #e6a05b;
}
.highlight.other,
.highlight.comment {
	border-color: #aaaaaa;/**/
}

.highlight.translate {
	border-bottom-style: dotted;
}

.highlight.original {
	color: #4AB2D6;
}
